// Place all the styles related to the Diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img {
  width: 500px;
}

.tb {
  text-align: center;
}

.bg-text {
  
  font-weight: bold;
  font-size: 80px;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-300%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
}

body {margin:0; background: #fafafa;}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: beige;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}






* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}




.column {
  float: left;
  padding: 10px;
  height: 300px; 
}


.column.side {
  width: 25%;
}


.column.middle {
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}



@media (max-width: 600px) {
  .column.side, .column.middle {
      width: 100%;
  }
}