<div class="navbar">
  <a href="#home">홈페이지</a>
  <a href="#news">뉴스</a>
  <a href="#contact">음식정보</a>
</div>

<div class="row">
  <div class="column side"></div>
  <div class="column middle">  
<br>
<br>
<br>